---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths() {
  const productos = await getCollection("productos");

  return productos.map((producto) => ({
    params: { id: producto.data.id.toString() },
    props: { producto },
  }));
}

interface Producto {
  data: {
    id: string;
    title: string;
    description: string;
    price: number;
    imageUrl: string;
  };
}

const { producto } = Astro.props as { producto: Producto };
const { title, description, price, imageUrl } = producto.data;
---

<Layout>
  <div class="container p-4 flex justify-center items-center">
    <Card
      id={producto.data.id}
      title={producto.data.title}
      description={producto.data.description}
      price={producto.data.price}
      imageUrl={producto.data.imageUrl}
    />
  </div>
</Layout>
